<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

    <system.serviceModel>

        <!-- Behavior Configurations -->
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceCredentials>
                      
                    <!-- Set Service Certificate Serial Number, a trusted SSL certificate -->
                    <serviceCertificate findValue="XXXXXXXXXX"
                                        storeLocation="LocalMachine"
                                        storeName="My"
                                        x509FindType="FindBySerialNumber" />
                  </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <!-- Binding Configurations -->
        <bindings>
          <wsHttpBinding>
            <binding name="InteropCertificateBinding"
                   closeTimeout="00:01:00" openTimeout="00:01:00"
                   receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                   bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                   maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8"
                   useDefaultWebProxy="true">

              <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>

              <security mode="Transport">
                <transport clientCredentialType="Certificate"></transport>
              </security>
            </binding>
          </wsHttpBinding>
        </bindings>

        <!-- Service Configurations -->
        <services>
          <service behaviorConfiguration="ServiceBehavior"
               name="MutualSSLAuthWCF.Service">

          <!-- Endpoint always Https with a trusted SSL certificate -->
          <endpoint address="https://www.example.com/service.svc"
                    binding="wsHttpBinding"
                    bindingConfiguration="InteropCertificateBinding"
                    name="WSHttpBinding_IService"
                    contract="MutualSSLAuthWCF.IService" />
          </service>
        </services>
      
    </system.serviceModel>
</configuration>
